---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { getBaseUrl } from '../utils/urls';
const baseUrl = getBaseUrl();
---

<header>
	<nav>
		<div class="site-branding">
			<a href={`${baseUrl}`}>
				<img src={`${baseUrl}/trustyai-logo.svg`} alt="TrustyAI Logo" class="logo" />
			</a>
			<h2><a href={`${baseUrl}`}>{SITE_TITLE}</a></h2>
		</div>
		<div class="nav-links">
			<HeaderLink href={`${baseUrl}/authors`}>About</HeaderLink>
			<HeaderLink href="https://github.com/trustyai-explainability" target="_blank">GitHub</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	
	.site-branding {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	
	.logo {
		height: 2.5rem;
		width: auto;
	}
	
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.nav-links {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	@media (max-width: 720px) {
		.logo {
			height: 2rem;
		}
	}
</style>
